html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

main {
  padding: 16px;
}