html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

main {
    padding: 16px;
}

.mdc-list a {
    text-decoration: none;
    color: inherit;
}

.mdc-list.linked .mdc-list-item__text,
.mdc-list.linked .mdc-list-item__text a {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.mdc-fab {
    position: absolute;
    bottom: 34px;
    right: 40px;
    z-index: 5000;
}

.mdc-data-table {
    overflow-x: auto;
}

.mdc-data-table tr th:first-child,
.mdc-data-table tr td:first-child {
    border-right: 1px solid rgba(0,0,0,.12);
    /* position: sticky;
    left: 0; */
}

.mdc-data-table input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 16px 0;
    box-sizing: border-box;
}

.mdc-data-table input[type='number'] {
    text-align: right;
}