$on-primary: #fff;
$background: #1D1D1D;
$surface: #181617;
$on-surface: #fafafa;
$on-background: #fff;

@use "@material/theme" with(
    $primary: #F44336,
    $secondary: #cddc39,
    $on-primary: #fff,
    $on-secondary: #343434,
    $accent: #fff,
    $background: $background,
    $surface: $surface,
    $on-surface: $on-surface,
    $error: #b00020,
    $on-error:  #fff
);

@import "../app.scss";

html, body {
    color: $on-background;
}


.mdc-theme--background {
    background-color: $background;
}

.mdc-data-table {
    background-color: $surface;
    color: $on-surface;
}

.mdc-data-table tr th:first-child,
.mdc-data-table tr td:first-child {
    background-color: $surface;
}

.mdc-data-table tr:hover {
    td:first-child {
        background-color: #211F20;
    }
}