$background: #fafafa;
$surface: #fff;
$on-surface: #000;
$on-background: #000;

@use "@material/theme" with(
    $primary: #F44336,
    $secondary: #cddc39,
    $background: $background,
    $surface: $surface,
    $on-surface: $on-surface,
    $error: #b00020,
    $on-error:  #fff
);


@import "../app.scss";
@import "@material/drawer/mdc-drawer";
@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";

.mdc-theme--background {
    background-color: $background;
}

.mdc-data-table {
    background-color: $surface;
    color: $on-surface;
}

.mdc-data-table tr th:first-child,
.mdc-data-table tr td:first-child {
    background-color: $surface;
}

.mdc-data-table tr:hover {
    td:first-child {
        background-color: #f5f5f5;
    }
}