$background: #fafafa;
$surface: #fff;
$on-surface: #000;
$on-background: #000;

@use "@material/theme" with(
    $primary: #F44336,
    $secondary: #fff,
    $background: $background,
    $surface: $surface,
    $on-surface: $on-surface,
    $error: #b00020,
    $on-error:  #fff
);


@import "../app.scss";
@import "@material/drawer/mdc-drawer";
@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow:  0 0 0px 1000px $background inset !important;
    -webkit-text-fill-color: $on-background !important;
    border-bottom-color: #0392FF !important;
}

.mdc-theme--background {
    background-color: $background;
}

.mdc-data-table {
    background-color: $surface;
    color: $on-surface;
}

.mdc-data-table tr th:first-child,
.mdc-data-table tr td:first-child {
    background-color: $surface;
}

.mdc-data-table tr:hover {
    td:first-child {
        background-color: #f5f5f5;
    }
}